<div class="login-container">
    <form  class="login-wrapper">
    <h2 role="heading" aria-level="1" class="login-title">Login to Continue</h2>
        <div class="form-control">
            <label for="email">Email</label>
            <input aria-label="Email" id="email" placeholder="Email" type="text" class="input-control">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input aria-label="password" id="password" placeholder="Password" type="password" class="input-control">
        </div>
        <div class="forgot-link">
            <a aria-label="Forgot password"  href="">Forgot Password?</a>
        </div>
        <button aria-label="Login" (click)="logIn()"  class="btn btn-primary">
            Login
        </button>
    </form>
</div>