<form [formGroup]="contactForm">
<div class="form-control">
    <label class="form-label" for="">
        Name
    </label>
    <input class="form-inpu" type="text" >
</div>
<div class="form-control">
    <label class="form-label" for="">
        Email
    </label>
    <input class="form-input" type="text" >
</div>
<div class="form-control">
    <label class="form-label" for="">
        Phone Number
    </label>
    <input class="form-inpu" type="text" >
</div>
<div class="form-control">
    <label class="form-label" for="">
        Job TitleAndCompany
    </label>
    <input class="form-inpu" type="text" >
</div>
<div class="form-control">
    <label class="form-label" for="">
        Profile URL
    </label>
    <input type="url" class="form-inpu" type="text" >
</div>
<button class="btn">Submit</button>
</form>